body{
    background-image: url('../img/pattern.jpg');
    display: inline;
}

header{
    background-color: #FFF;
    margin: -10px;
    position: fixed;
    width: 100%;
    padding-right: 10px;
}

nav{
    display: inline-block;
    float: right;
    padding-right: 20px;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    margin: 5px;
}

section{
    background-color: #FFF;
    top: 60px;
    position: relative;
    z-index: -1;
    padding: 10px;
    width: 70%;
    margin-left: 170px;
    margin-bottom: 80px;
}

h1{
    display: none;
}

article{
    padding: 20px;
    border-bottom: 2px solid rgb(192, 190, 190);
}

footer{
    background-color: #000;
    color: white;
    justify-content: center;
    height: 40px;
}
h5{
    text-align: center;
    padding-top: 10px;
}