.logo {
    width: 100%;
}

.menu-top {
    padding: 10px;
    color: #000;
}

.menu-top:hover {
    color: #01a3a4;
    text-decoration: none;
}

.menu {
    background: #576574;
    text-align: center;
    padding: 20px;
    word-spacing: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.row-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -300px;
    margin-left: -15px;
}

.navbar.navbar-expand-lg.navbar-light.bg-col {
    background: #badc58;
}

.menu-utama {
    color: #fff;
    text-decoration: none;
}

.menu-utama:hover {
    color: #ee5253;
    text-decoration: none;
}

.title {
    color: #000;
}

.title:hover {
    color: #ee5253;
    text-decoration: none;
}